.PersonalPicture {

  height: 240px;
  width: 360px;  
}
.paragraphsAbout{
  opacity: 0;
  text-align:center;
}
#aboutHeader {
  text-align: center;
  font-size: 40px;
  font-family:'Lato', sans-serif;
}
#picturesOfUs{
  position:relative;
  width:792px;
  height:528px;
  left:250px;
  top: 0px; 
}

#pictureMarc{
  position:absolute;
  top:0;
    right:0;
}
#pictureWill{
  position:absolute;
  top:0;
    left:0;
}
#pictureBenji{
  position:absolute;
  bottom:0;
    right:0;

}
#pictureHarry{
  position:absolute;
  bottom:0;
    left:0;
}
.aboutInfo{
  position:absolute;
  visibility:hidden;

}
.personTitle{
  font-size:40px;
  font-family:'Lato', sans-serif;
}



