
.section-portfolio {
  background-color: #666666;
  height: 100%;
  width: 100%;
}

.port-header{
  height: 150px;
  width: 100%;
  color: #fff;
}

#main-head {
  position: absolute;
  left: 100px;
  font-size: 100px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
}

.proj-img {
  height: 150px;
  float: left;
  position: relative;
  left: 20px;
  width: 300px;
  border: 3px solid black;
  border-radius: 15%;
}

.active {
  height: 165px;
  width: 330px;
  bottom: 7.5px;
  left: 5px;
}

.active + .proj-title {
  left: 70px;
}

.active + .proj-title + .proj-description {
  left: 70px;
}

.proj-item {
  clear: both;
  height: 180px;
  width: 100%;
}

.proj-title {
  position: relative;
  font-size: 40px;
  letter-spacing: 3px;
  top: 30px;
  font-family: 'Lato', sans-serif;
  width: auto;
  padding-left: 100px;
  float: left;
}

.proj-description {
  position: relative;
  left: 100px;
  color: white;
  font-family: 'Lato', sans-serif;
  bottom: 30px;
}

.hidden {
  visibility: hidden;
}

a {
  color: white;
}
