
.section-portfolio {
  background-color: #666666;
  height: 100%;
  width: 100%;
}

.port-header{
  height: 50px;
  width: 100%;
  color: #fff;
}

#main-head {
  position: absolute;
  left: 100px;
}

.proj-img {
  height: 150px;
  float: left;
  position: relative;
  left: 20px;
  width: 300px;
  border: 3px solid black;
}

.proj-item {
  clear: both;
  height: 170px;
  width: 100%;
}

.proj-title {
  position: relative;
  left: 100px;
  top: 30px;

}

.proj-description {
  position: relative;
  left: 100px;
  color: white;
}