body {
  background-color: #555555;
}

#main-head {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  color: #eeeeee; 
  margin-left: 10%;
}

#project1 {
  float: top;
  height: 110px;
}

#project2 {
  clear: left;
  margin-top: 5px;
  height: 115px;
}

#project3 {
  clear: left;
  margin-top: 5px;
  height: 110px;
}

.proj-img {
  float: left;
  height: 90px;
  width: 200px;
  border: 10px solid black
}

.proj-title {
  float: right;
  margin-right: 12%;
  margin-top: 8%;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 4px;
  
}
