---

---

/*==============================
    Chaps digital style sheet 
===============================*/
/*
      ___           ___           ___           ___                       ___           ___           ___           ___      
     /\  \         /\  \         /\  \         /\  \                     /\__\         /\__\         /\  \         /|  |     
     \:\  \       /::\  \       /::\  \       /::\  \         ___       /:/ _/_       /:/ _/_       /::\  \       |:|  |     
      \:\  \     /:/\:\  \     /:/\:\__\     /:/\:\__\       /|  |     /:/ /\  \     /:/ /\__\     /:/\:\  \      |:|  |     
  ___ /::\  \   /:/ /::\  \   /:/ /:/  /    /:/ /:/  /      |:|  |    /:/ /::\  \   /:/ /:/  /    /:/  \:\  \   __|:|__|     
 /\  /:/\:\__\ /:/_/:/\:\__\ /:/_/:/__/___ /:/_/:/__/___    |:|  |   /:/__\/\:\__\ /:/_/:/  /    /:/__/ \:\__\ /::::\__\_____
 \:\/:/  \/__/ \:\/:/  \/__/ \:\/:::::/  / \:\/:::::/  /  __|:|__|   \:\  \ /:/  / \:\/:/  /     \:\  \ /:/  / ~~~~\::::/___/
  \::/__/       \::/__/       \::/~~/~~~~   \::/~~/~~~~  /::::\  \    \:\  /:/  /   \::/__/       \:\  /:/  /      |:|~~|    
   \:\  \        \:\  \        \:\~~\        \:\~~\      ~~~~\:\  \    \:\/:/  /     \:\  \        \:\/:/  /       |:|  |    
    \:\__\        \:\__\        \:\__\        \:\__\          \:\__\    \::/  /       \:\__\        \::/  /        |:|__|    
     \/__/         \/__/         \/__/         \/__/           \/__/     \/__/         \/__/         \/__/         |/__/     
*/


/********************** 
Variable Declarations */

//colors
$accentColor: #f1f075;

//fonts
$chapsFontFamily:  'Lato', sans-serif;



// Mixin Declarations 
@mixin mainHeader() {

	color: $accentColor;
	line-height: 1;
	font-family: $chapsFontFamily;
	font-weight: 100;

}

.container-fluid {
    padding: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}

// Nav Bar
.nav {
	#nav {
		margin: 0;
		width: 100%;
		display: table;
		position: fixed;
		top: 0;
		z-index: 999;
		/* width: 40%; */
		padding-left: 55%;
		padding-right: 5%;
		padding-top: 1%;
		padding-bottom: 1%;
		background-color: rgba(0,0,0,0.5);
		color: white;
		list-style: none;
		text-align: center;
		border-bottom: 1px solid $accentColor;
		li {
			display: table-cell;
			font-weight: 100;
            font-size: 14px;
            letter-spacing:2px;
			> a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                    color: $accentColor;
                    transition: color 0.4s;
                }
            }
            
		}
	}
}

// Margin adjustment to allow smooth scroll to reveal full page
#portfolio, #about, #contact {
    padding-top: 40px;
}

//*********************************************//
//landing section
#landing {
    height:100vh;
	background: {
		image: url(http://i.imgur.com/eZuYR3j.png);
		size: 100%;
		repeat: no-repeat;
	}
    .row {
        margin-top: 50vh;
        .titles {
            background-color: rgba(241,240,117,0.5);
            padding: 0;
            text-align: center;
        }
        	h1 {
                @include mainHeader;
                font-size: 150px;
                letter-spacing: -15px;
                color: #000;
                margin-bottom: 0;
                margin-top: 0;
                margin-left: -12px;
                font-weight: 300;
            }
            h2 {
                font-family: $chapsFontFamily;
                letter-spacing: 20px;
                font-weight: 300;
                color: #fff;
                margin: 0;
                margin-top: 20px;
                margin-right: -17px;
                &:before {
                    content: " ";
                    background: #fff;
                    display: block;
                    height: 2px;
                    width: 100px;
                    margin: 5px auto;
                }
            }
            h3 {
                color: #fff;
                font: {
                    size: 1em;
                    weight: 100;
                    family: $chapsFontFamily;
                }
                margin: 20px 0 0 0;
                background-color: #000;
                line-height: 1.5;
                padding: 8px;
            }
    }
}


//portfolio section
#portfolio {
	background-color: #333;

    .folio-header {
        color: #fff;
        h1 {
            @include mainHeader;
            font-size: 100px;
        }
    }

    .project {
        height: 180px;
        text-align: center;
        img {
            max-width: 100%;
        }
        .title {
            color: $accentColor;
            font-size: 40px;
        }
        .description {
            color: #fff;
            > a {
                color: #fff;
                &:hover {
                    text-decoration: none;
                    color: $accentColor;
                    transition: color 0.4s;
                }
            }
        }
        .port-hidden {
            visibility: hidden;
        }
    }
}

// About Section

#about {
    height: auto;

    .about-header {
        color: #fff;
        h1 {
            @include mainHeader;
            font-size: 100px;
        }
    }
    .profiles {
        .profile-pic {
            max-width: 100%;
        }
    }
}






@media (max-width: 420px) {

    nav {
        display: none;
    }

    #landing {
        background-image: url('http://i.imgur.com/d8uKAHf.png');
        height: auto;
        .row {
            margin-top: 100%;
            .titles {
                background-color: rgba(241,240,117,1);
                height: 50%;
                h1 {
                    letter-spacing: -10px;
                    font-size: 100px;
                }
                h2 {
                    letter-spacing: 16px;
                    font-size: 20px;
                    color:#444;
                    margin-top: 14px;
                }
            }
        }
    }


}










