---
layout: default
title: chaps
---

<div class="section">{% include landing.html %}</div>
<div class="section">{% include portfolio.html %}</div>
<div class="section">{% include about.html %}</div>
<div class="section">{% include contact.html %}</div>

<!-- Parallax Effect -->
<!-- <script src="js/skrollr.min.js"></script>
<script type="text/javascript">
	window.onload = function() {
	    skrollr.init({
	    forceHeight: false
		});
	}
	</script> -->

<!-- Smooth Scroll Nav Bar -->
<script src="js/bind-polyfill.js"></script>
<script src="js/smooth-scroll.js"></script>
<script>
    smoothScroll.init();
	</script>

