<h1 div id = "aboutHeader"> MEET THE CHAPS</h1>
  
  <div id ="picturesOfUs">
        
    <div>
      <img src = "https://slack-files.com/files-tmb/T02KHD2NC-F02L35ER9-4ad830/chaps_shot-5_360.png" id ="pictureMarc" class = "PersonalPicture" alt =""/><p id = "infoMarc"class = "aboutInfo"><br><br><br>
      <span class = "personTitle">Marc</span><br><br><br>written using a simplified markup language<br> (known as "wiki markup") or a rich-text editor.<br>[1][2] While a wiki is a type of content management<br> system, it differs from a blog or most other <br>such systems in that the content is created <br>without any defined owner or leader, and wikis<br> have little implicit structure, allowing structure to </p>
    </div>
  
<div>
    <img src = "https://slack-files.com/files-tmb/T02KHD2NC-F02L35VSD-d6c635/chaps_shot-4_360.png" id = "pictureHarry" class = "PersonalPicture" alt =""/> <p id = "infoHarry" class = "aboutInfo"><br><br>
  <br><span class = "personTitle">Harry</span><br><br><br>written using a simplified markup language<br> (known as "wiki markup") or a rich-text editor.<br>[1][2] While a wiki is a type of content management<br> system, it differs from a blog or most other <br>such systems in that the content is created <br>without any defined owner or leader, and wikis<br> have little implicit structure, allowing structure to </p>
    </div>
   

    <div >
<img src = "https://slack-files.com/files-tmb/T02KHD2NC-F02L34G87-7f01e5/chaps_shot-2_360.png" id = "pictureBenji" class = "PersonalPicture" alt ="" /><p id = "infoBenji"class = "aboutInfo"><br><br><br>
      <span class = "personTitle">Benji</span><br><br><br>written using a simplified markup language<br> (known as "wiki markup") or a rich-text editor.<br>[1][2] While a wiki is a type of content management<br> system, it differs from a blog or most other <br>such systems in that the content is created <br>without any defined owner or leader, and wikis<br> have little implicit structure, allowing structure to </p>
    </div>
    <div >
 <img src = "https://slack-files.com/files-tmb/T02KHD2NC-F02L4M6MN-005c81/chaps_shot-3_360.png" id = "pictureWill"class = "PersonalPicture" alt =""/> <p id = "infoWill" class = "aboutInfo"><br><br><br>
      <span class = "personTitle">Will</span><br><br><br>written using a simplified markup language<br> (known as "wiki markup") or a rich-text editor.<br>[1][2] While a wiki is a type of content management<br> system, it differs from a blog or most other <br>such systems in that the content is created <br>without any defined owner or leader, and wikis<br> have little implicit structure, allowing structure to</p>
    </div>
    </div>
