<nav class="nav">
	<ul id="nav">
		<li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeInOutQuad&quot; }" href="#section-landing">Home</a></li>
		<li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeInOutQuad&quot; }" href="#section-portfolio">Portfolio</a></li>
		<li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeInOutQuad&quot; }" href="#section-about">About</a></li>
		<li><a data-scroll="" data-options="{ &quot;easing&quot;: &quot;easeInOutQuad&quot; }" href="#section-contact">Contact</a></li>
	</ul>
</nav>
	

<div id="section-landing" data-top="background-position: 50% 0px;" data-top-bottom="background-position: 50% -200px;">

	<h1>CHAPS</h1>

	<h3>Web development from the Chaps at Founders and Coders.</h3>
			
</div>

